<a href="https://colab.research.google.com/github/21pa1a6136/Numpy/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.DataFrame({"Roll No":["AIML01","AIML02","AIML03"],"Name":["A.Rajesh","B.Ramu","C.Subbu"]})
df

  Roll No      Name
0  AIML01  A.Rajesh
1  AIML02    B.Ramu
2  AIML03   C.Subbu

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.isna().any()

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [ ]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
df.shape

(150, 6)

In [ ]:
new=pd.DataFrame({"Extra":[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149,150]})

new.tail()

     Extra
145    146
146    147
147    148
148    149
149    150

In [ ]:
df["Extra"]=new.values
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Extra
0,1,5.1,3.5,1.4,0.2,Iris-setosa,1
1,2,4.9,3.0,1.4,0.2,Iris-setosa,2
2,3,4.7,3.2,1.3,0.2,Iris-setosa,3
3,4,4.6,3.1,1.5,0.2,Iris-setosa,4
4,5,5.0,3.6,1.4,0.2,Iris-setosa,5

In [ ]:
del df["SepalLengthCm"]
df.head()

   Id  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species  Extra
0   1           3.5            1.4           0.2  Iris-setosa      1
1   2           3.0            1.4           0.2  Iris-setosa      2
2   3           3.2            1.3           0.2  Iris-setosa      3
3   4           3.1            1.5           0.2  Iris-setosa      4
4   5           3.6            1.4           0.2  Iris-setosa      5

In [ ]:
df1=pd.DataFrame({"id":[151],"sepalWidthCm":[3.5],"PetalLengthCm":[1.5],"PetalWidthCm":[1.5],"Species":["Iris-Sentosa"],"Extra":[151]})
df1

    id  sepalWidthCm  PetalLengthCm  PetalWidthCm       Species  Extra
0  151           3.5            1.5           1.5  Iris-Sentosa    151

In [ ]:
df=df.append(df1)
df.tail()

,Id,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Extra,id,sepalWidthCm
147,148.0,3.0,5.2,2.0,Iris-virginica,148,NaN,NaN
148,149.0,3.4,5.4,2.3,Iris-virginica,149,NaN,NaN
149,150.0,3.0,5.1,1.8,Iris-virginica,150,NaN,NaN
0,NaN,NaN,1.5,1.5,Iris-Sentosa,151,151.0,3.5
0,NaN,NaN,1.5,1.5,Iris-Sentosa,151,151.0,3.5

In [ ]:
df=df.drop(4)
df.head()

,Id,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Extra,id,sepalWidthCm
0,1.0,3.5,1.4,0.2,Iris-setosa,1,NaN,NaN
1,2.0,3.0,1.4,0.2,Iris-setosa,2,NaN,NaN
5,6.0,3.9,1.7,0.4,Iris-setosa,6,NaN,NaN
6,7.0,3.4,1.4,0.3,Iris-setosa,7,NaN,NaN
7,8.0,3.4,1.5,0.2,Iris-setosa,8,NaN,NaN